@font-face {
  font-family: "opensans";
  src: url("font/opensans/OpenSans-Regular.eot");
  src: url("font/opensans/OpenSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("font/opensans/OpenSans-Regular.woff") format("woff"),
    url("font/opensans/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("font/raleway/Raleway-Regular.eot");
  src: url("font/raleway/Raleway-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("font/raleway/Raleway-Regular.woff") format("woff"),
    url("font/raleway/Raleway-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
body{
  margin: 0;
  background-image: url(/img/image.svg);
  z-index: -1;
  background-size: 100%;
}
.header {
  display: flex;
  height: 76px;
  background: #000000;
}
.conteiner {
  margin: 0 auto;
  width: 1170px;
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  justify-content: space-between;
  width: 570px;
}
.menu__navigation {
  display: flex;
  font-family: opensans;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  color: #ffffff;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.content {
  margin: 0 auto;
  background-size: 100%;
  height: 900px;
  background: rgba(0, 0, 0, 0.5);
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 600px;
  height: 700px;
  margin-top: 120px;
}
.logo-big {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 270px;
}
.text {
  width: 670px;
  font-family: Raleway;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
}
.line {
  width: 170px;
  height: 0px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}
.desc {
  width: 270px;
  height: 42px;
  font-family: Raleway;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.button {
  width: 270px;
  height: 58px;
  border: 2px solid #ffffff;
  background-color: Transparent;
  background-repeat: no-repet;
  cursor: pointer;
  font-family: opensans;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}
.form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 470px;
  height: 450px;
  background: #ffffff;
  border-radius: 10px;
  margin-top: 180px;
}
.title {
  padding-top: 20px;
  width: 470px;
  font-family: opensans;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #333333;
}
mark {
  color: #ec7979;
  background-color: Transparent;
}
.list {
  display: flex;
  flex-direction: column;
  height: 200px;
  padding-left: 50px;
}
.user-data {
  width: 370px;
  font-family: opensans;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  color: #bdbdbd;
}
.input {
  width: 370px;
  font-family: opensans;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-color: #bdbdbd;
}
.form__button {
  width: 470px;
  height: 60px;
  border: 2px solid #ec7979;
  cursor: pointer;
  font-family: opensans;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  background: #ec7979;
  margin: 0;
  border-radius: 0px 0px 10px 10px;
  color: #ffffff;
}
.buttom {
  margin-top: 20px;
  margin: 0;
}
