@font-face {
  font-family: "opensans";
  src: url("font/opensans/OpenSans-Regular.eot");
  src: url("font/opensans/OpenSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("font/opensans/OpenSans-Regular.woff") format("woff"),
    url("font/opensans/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("font/raleway/Raleway-Regular.eot");
  src: url("font/raleway/Raleway-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("font/raleway/Raleway-Regular.woff") format("woff"),
    url("font/raleway/Raleway-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
body {
  margin: 0;
  .page {
    margin: 0 auto;
    background-image: url(../../img/image.svg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    .header {
      justify-content: center;
      width: 100%;
      display: flex;
      height: 76px;
      background: #000000;
      .header__conteiner {
        max-width: 1170px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .logo {
          display: flex;
          align-items: center;
        }
        .menu {
          display: flex;
          justify-content: space-around;
          width: 570px;
          .menu__navigation {
            display: flex;
            font-family: opensans;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            align-items: center;
            color: #ffffff;
            text-decoration: none;
            a {
              text-decoration: none;
              color: #ffffff;
            }
          }
        }
      }
    }
    .content {
      max-width: 100%;
      margin: 0 auto;
      height: 900px;
      background: rgba(0, 0, 0, 0.5);
      .conteiner {
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        .column {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          width: 600px;
          height: 700px;
          margin-top: 120px;
          .logo-big {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 270px;
          }
          .text {
            width: 670px;
            font-family: Raleway;
            font-weight: 500;
            font-size: 48px;
            line-height: 56px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: #ffffff;
          }
          .desc {
            width: 270px;
            height: 42px;
            font-family: Raleway;
            font-size: 18px;
            line-height: 21px;
            display: flex;
            align-items: center;
            color: #ffffff;
          }
          .button {
            width: 270px;
            height: 58px;
            border: 2px solid #ffffff;
            background-color: Transparent;
            background-repeat: no-repet;
            cursor: pointer;
            font-family: opensans;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            color: #ffffff;
          }
        }
        .column::after {
          content: "";
          position: relative;
          width: 170px;
          height: 0px;
          background-color: #ffffff;
          border: 1px solid #ffffff;
          bottom: 240px;
        }
        .form {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          width: 470px;
          height: 450px;
          background: #ffffff;
          border-radius: 10px;
          margin-top: 180px;
          .title {
            padding-top: 20px;
            width: 470px;
            font-family: opensans;
            font-weight: bold;
            font-size: 24px;
            line-height: 33px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            color: #333333;
            mark {
              color: #ec7979;
              background-color: Transparent;
            }
          }
          .list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 200px;
            padding-left: 50px;
            .user-data {
              width: 370px;
              font-family: opensans;
              font-size: 14px;
              line-height: 19px;
              display: flex;
              color: #bdbdbd;
              .input {
                width: 370px;
                font-family: opensans;
                font-size: 14px;
                line-height: 19px;
                display: flex;
                outline: none;
                border-top: 0px;
                border-right: 0px;
                border-left: 0px;
                border-color: #bdbdbd;
              }
            }
          }
          .form__button {
            width: 470px;
            height: 60px;
            border: 2px solid #ec7979;
            cursor: pointer;
            font-family: opensans;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            background: #ec7979;
            margin: 0;
            border-radius: 0px 0px 10px 10px;
            color: #ffffff;
          }
        }
      }
    }
  }
  .section {
    margin: 0 auto;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1170px;
    .Reviews {
      display: flex;
      height: 300px;
      text-align: center;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin: 0;
      .Reviews__title-text {
        font-family: Raleway;
        font-size: 36px;
        line-height: 42px;
        display: flex;
        text-align: center;
        align-self: center;
        justify-content: center;
        text-transform: uppercase;
        color: #000000;
      }
      .Reviews__text {
        font-family: Raleway;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #86878b;
      }
    }
    .Reviews::after {
      content: "";
      position: relative;
      width: 170px;
      height: 0px;
      border: 1px solid #ec7979;
      background-color: #ec7979;
      bottom: 100px;
    }
    .block {
      display: flex;
      justify-content: space-evenly;
      height: 500px;
      .customer {
        display: flex;
        flex-direction: column;
        .window {
          flex-direction: row;
          justify-content: center;
          padding-left: 30px;
          width: 300px;
          height: 180px;
          background: #e2e2e2;
          border-radius: 10px;
          font-family: Raleway;
          font-size: 18px;
          line-height: 21px;
          display: flex;
          align-items: center;
          text-align: center;
          color: #86878b;
        }
        .window::after {
          position: relative;
          width: 30px;
          height: 20px;
          right: 70%;
          top: 55%;
          content: url(../../img/Polygon1.svg);
        }
        .user-pic {
          position: relative;
          top: 20%;
          width: 70px;
        }
        .about {
          display: flex;
          flex-direction: column;
          width: 220px;
          padding-left: 120px;
          margin-bottom: 20px;
          .name {
            font-family: opensans;
            font-weight: bold;
            font-size: 24px;
            line-height: 33px;
            text-transform: capitalize;
            color: #000000;
          }
          .position {
            padding-top: 10px;
            font-family: Raleway;
            font-size: 18px;
            line-height: 21px;
            color: #000000;
          }
        }
      }
    }
  }
  .section-banner {
    height: 442px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../../img/imagecity.svg);
    .banner {
      max-width: 1170px;
      display: flex;
      margin: 0 auto;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      .banner__title {
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 42px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
      }
      .banner__text {
        font-family: Raleway;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #ffffff;
      }
      .button {
        width: 270px;
        height: 58px;
        border: 2px solid #ffffff;
        background-color: Transparent;
        color: #ffffff;
        font-family: opensans;
      }
    }
    .banner::after {
      content: "";
      position: relative;
      width: 170px;
      height: 0px;
      background-color: #ffffff;
      border: 1px solid #ffffff;
      bottom: 240px;
    }
  }
  .section-contact {
    max-width: 100%;
    height: 622px;
    .block-contact {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 1170px;
      .Reviews {
        display: flex;
        margin: 0 auto;
        width: 1170px;
        height: 300px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .Reviews__title-text {
          font-family: Raleway;
          font-size: 36px;
          line-height: 42px;
          display: flex;
          text-align: center;
          align-self: center;
          justify-content: center;
          text-transform: uppercase;
          color: #000000;
        }
        .Reviews__text {
          font-family: Raleway;
          font-size: 18px;
          line-height: 21px;
          display: flex;
          align-items: center;
          text-align: center;
          color: #86878b;
        }
      }
      .Reviews::after {
        content: "";
        position: relative;
        width: 170px;
        height: 0px;
        border: 1px solid #ec7979;
        background-color: #ec7979;
        bottom: 100px;
      }
      .form-contact {
        display: flex;
        height: 200px;
        width: 1170px;
        margin-bottom: 30px;
        justify-content: space-around;
        .fields-to-fill {
          padding-right: 100px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .input {
            width: 370px;
            font-family: opensans;
            font-size: 14px;
            line-height: 19px;
            display: flex;
            border-top: 0px;
            border-right: 0px;
            border-left: 0px;
            border-color: #bdbdbd;
            outline: none;
          }
        }
        .messedge-text {
          display: flex;
          .messedge {
            height: 200px;
            width: 370px;
            font-family: opensans;
            font-size: 14px;
            line-height: 19px;
            display: flex;
            border-top: 0px;
            border-right: 0px;
            border-left: 0px;
            border-color: #bdbdbd;
          }
        }
       
      }
      .button_content {
        width: 370px;
        height: 58px;
        border: 2px solid #ffffff;
        cursor: pointer;
        font-family: opensans;
        font-size: 18px;
        line-height: 25px;
        color: #ffffff;
        background: #ec7979;
      }
    }
  }
}
