@font-face {
  font-family: "opensans";
  src: url("font/opensans/OpenSans-Regular.eot");
  src: url("font/opensans/OpenSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("font/opensans/OpenSans-Regular.woff") format("woff"),
    url("font/opensans/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Raleway";
  src: url("font/raleway/Raleway-Regular.eot");
  src: url("font/raleway/Raleway-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("font/raleway/Raleway-Regular.woff") format("woff"),
    url("font/raleway/Raleway-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
body {
  margin: 0;
  .page {
    max-width: 100%;
    margin: 0 auto;
    background-image: url(../../img/image.svg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;

    .page__header {
      justify-content: center;
      width: 100%;
      display: flex;
      height: 76px;
      background: #000000;

      .header__conteiner {
        max-width: 1170px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        @media (max-width: 1200px) {
          max-width: 85%;
        }
        .conteiner__logo {
          display: flex;
          align-items: center;
        }
        .conteiner__hamburger-menu {
          display: flex;
          justify-content: space-around;
          width: 570px;
          align-items: center;
          .hamburger-menu__menu-btn {
            display: flex;
            align-items: center;
            position: absolute;
            top: 0;
            right: 0;
            width: 26px;
            height: 26px;
            cursor: pointer;
            z-index: 1;
            @media (min-width: 800px) {
              display: none;
            }
          }
          .hamburger-menu__menu-btn > span,
          .hamburger-menu__menu-btn > span::before,
          .hamburger-menu__menu-btn > span::after {
            display: block;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #616161;
            transition-duration: 0.25s;
          }
          .hamburger-menu__menu-btn > span::before {
            content: "";
            top: -8px;
          }
          .hamburger-menu__menu-btn > span::after {
            content: "";
            top: 8px;
          }
          #menu-toggle {
            opacity: 0;
          }

          #menu-toggle:checked ~ .hamburger-menu__menu-btn > span {
            transform: rotate(45deg);
          }
          #menu-toggle:checked ~ .hamburger-menu__menu-btn > span::before {
            top: 0;
            transform: rotate(0);
          }
          #menu-toggle:checked ~ .hamburger-menu__menu-btn > span::after {
            top: 0;
            transform: rotate(90deg);
          }
          #menu-toggle:checked ~ .menubox {
            visibility: visible;
            left: 0;
          }
          .hamburger-menu__menu-navigation {
            display: flex;
            font-family: opensans;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            align-items: center;
            color: #ffffff;
            text-decoration: none;
            @media (max-width: 800px) {
              display: block;
              position: fixed;
              visibility: hidden;
              top: 0;
              left: -100%;
              width: 300px;
              height: 100%;
              margin: 0;
              padding: 80px 0;
              list-style: none;
              background-color: #eceff1;
              box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
              transition-duration: 0.25s;
            }

            a {
              text-decoration: none;
              color: #ffffff;
            }
          }
        }
      }
    }
    .page__section {
      max-width: 100%;
      margin: 0 auto;
      height: 900px;
      background: rgba(0, 0, 0, 0.5);
      .section__content {
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        @media (max-width: 1200px) {
          max-width: 85%;
        }
        @media (max-width: 800px) {
          flex-direction: column;
          align-items: center;
        }
        .content__column {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          width: 600px;
          height: 700px;
          margin-top: 120px;
          @media (max-width: 1200px) {
            max-width: 40%;
          }
          @media (max-width: 800px) {
            justify-content: space-between;
            margin-top: 20px;
            max-width: 100%;
            align-items: center;
            height: 464px;
          }
          .column__logo-big {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 270px;
            @media (max-width: 800px) {
              display: none;
            }
          }

          .column__text {
            width: 670px;
            font-family: Raleway;
            font-weight: 500;
            font-size: 48px;
            line-height: 56px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: #ffffff;
            @media (max-width: 1200px) {
              max-width: 464px;
              font-size: 36px;
            }
            @media (max-width: 992px) {
              max-width: 374px;
            }
            @media (max-width: 800px) {
              text-align: center;
              text-transform: uppercase;
              line-height: 42px;
              max-width: 100%;
            }
          }
          .column__desc {
            width: 270px;
            height: 42px;
            font-family: Raleway;
            font-size: 18px;
            line-height: 21px;
            display: flex;
            align-items: center;
            color: #ffffff;
            @media (max-width: 1200px) {
              max-width: 183px;
              font-size: 14px;
            }
            @media (max-width: 800px) {
              width: 337px;
              text-align: center;
            }
          }

          .column__button {
            width: 270px;
            height: 58px;
            border: 2px solid #ffffff;
            background-color: Transparent;
            cursor: pointer;
            font-family: opensans;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            color: #ffffff;
            @media (max-width: 1200px) {
              max-width: 183px;
            }
          }
        }
        .content__column::after {
          content: "";
          position: relative;
          width: 170px;
          height: 0px;
          background-color: #ffffff;
          border: 1px solid #ffffff;
          bottom: 260px;
          @media (max-width: 992px) {
            bottom: 235px;
          }
          @media (max-width: 800px) {
            bottom: 340px;
          }
        }
        .section__form {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          width: 470px;
          height: 450px;
          background: #ffffff;
          border-radius: 10px;
          margin-top: 180px;
          align-items: center;
          @media (max-width: 1200px) {
            width: 398px;
          }
          @media (max-width: 800px) {
            margin-top: 0px;
            width: 288px;
            height: 381px;
          }
          .form__title {
            padding-top: 20px;
            width: 470px;
            font-family: opensans;
            font-weight: bold;
            font-size: 24px;
            line-height: 33px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            color: #333333;
            @media (max-width: 1200px) {
              width: 298px;
              font-size: 18px;
            }
            mark {
              color: #ec7979;
              background-color: Transparent;
            }
          }
          .form__list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 200px;
            .list__user-data {
              width: 370px;
              font-family: opensans;
              font-size: 14px;
              line-height: 19px;
              display: flex;
              color: #bdbdbd;
              @media (max-width: 1200px) {
                width: 298px;
              }
              @media (max-width: 800px) {
                width: 240px;
              }
              .user-data__input {
                width: 370px;
                font-family: opensans;
                font-size: 14px;
                line-height: 19px;
                display: flex;
                outline: none;
                border-top: 0px;
                border-right: 0px;
                border-left: 0px;
                border-color: #bdbdbd;
              }
            }
          }
          .form__button {
            width: 470px;
            height: 60px;
            border: 2px solid #ec7979;
            cursor: pointer;
            font-family: opensans;
            font-weight: 600;
            font-size: 18px;
            line-height: 25px;
            background: #ec7979;
            margin: 0;
            border-radius: 0px 0px 10px 10px;
            color: #ffffff;
            @media (max-width: 1200px) {
              width: 398px;
            }
            @media (max-width: 800px) {
              width: 288px;
            }
          }
        }
      }
    }
  }
  .page__footer {
    max-width: 100%;
    background: #f8efef;
    height: 140px;
    @media (max-width: 768px) {
      height: 239px;
    }
    .footer__conteiner {
      margin: 0 auto;
      max-width: 1170px;
      display: flex;
      height: 100%;
      @media (max-width: 1200px) {
        max-width: 85%;
      }
      @media (max-width: 768px) {
        flex-direction: column;
      }
      .conteiner__block {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        width: 44%;
        @media (max-width: 768px) {
          width: 100%;
          align-items: center;
        }
      }
      .block__footer-title {
        font-family: opensans;
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
        color: #333333;
        @media (max-width: 1200px) {
          font-size: 18px;
        }
        @media (max-width: 768px) {
          font-size: 18px;
        }
      }
      .block__footer-content {
        justify-content: center;
        display: flex;
        font-family: Raleway;
        font-size: 18px;
        line-height: 21px;
        color: #86878b;
        @media (max-width: 1200px) {
          font-size: 14px;
        }
        @media (max-width: 768px) {
          text-align: center;
        }
      }
      .conteiner__links {
        max-width: 100%;
        width: 650px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .fab {
          text-decoration: none;
          color: #cccccc;
          @media (max-width: 768px) {
            font-size: 20px;
            margin: 20px;
          }
        }
      }
    }
  }

  .section-tabs {
    margin: 50px auto;
    max-width: 1170px;
    @media (max-width: 1200px) {
      max-width: 85%;
    }
    .section-tabs__panel {
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      position: relative;
      .panel__item {
        padding: 10px;
        width: 203px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 19px;
        cursor: pointer;
      }
      .panel__item_active {
        border-radius: 5px 5px 0px 0px;
        border: 1px solid #c6cbcd;
        background: white;
        z-index: 2;
        border-bottom: 0;
      }
    }
    .section-tabs__panel::after {
      content: "";
      width: 100%;
      height: 1px;
      background: #c6cbcd;
      bottom: 0;
      display: block;
      position: absolute;
    }
    .section-tabs__content {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      border: 1px solid #c6cbcd;
      border-top: 0;
      .content__description {
        padding: 35px 30px 54px 100px;
        @media (max-width: 1200px) {
          padding: 35px 30px 40px 50px;
        }
        @media (max-width: 576px) {
          padding: 15px 5px 15px 10px;
        }
        .content__title {
          font-size: 30px;
          line-height: 41px;
          @media (max-width: 1200px) {
            font-size: 24px;
          }
        }
        .content__text {
          font-size: 18px;
          margin-bottom: 27px;
          @media (max-width: 1200px) {
            font-size: 14px;
          }
        }
        .content__link {
          display: block;
          width: 270px;
          height: 58px;
          font-size: 18px;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #ec7979;
          text-decoration: none;
          @media (max-width: 1200px) {
            max-width: 231px;
          }
        }
      }
    }
    .content__image {
      display: block;
      width: 470px;
      min-width: 470px;
      height: 500px;
      object-fit: cover;
      @media (max-width: 1200px) {
        min-width: 398px;
        max-height: 385px;
      }
      @media (max-width: 992px) {
        display: none;
      }
    }
  }
  .section-about {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 1170px;
    @media (max-width: 1200px) {
      max-width: 85%;
    }
    .about__content {
      display: flex;
      height: 300px;
      text-align: center;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin: 0;
      .content__title {
        font-family: Raleway;
        font-size: 36px;
        line-height: 42px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
        @media (max-width: 1200px) {
          font-size: 24px;
        }
      }
      .content__subtitle {
        font-family: Raleway;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #86878b;
        @media (max-width: 1200px) {
          font-size: 14px;
        }
      }
    }
    .about__content::after {
      content: "";
      position: relative;
      width: 170px;
      height: 0px;
      border: 1px solid #ec7979;
      background-color: #ec7979;
      bottom: 130px;
      @media (max-width: 1200px) {
        bottom: 140px;
      }
    }
    .about__container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      max-width: 1170px;
      margin-bottom: 50px;
      .container__item {
        display: grid;
        .item__img {
          display: grid;
          margin: 0 auto;
        }
        .item__title {
          display: grid;
          margin: 20px;
          justify-content: center;
          font-family: opensans;
          font-weight: bold;
          font-size: 24px;
          line-height: 33px;
          text-transform: capitalize;
          color: #000000;
          @media (max-width: 1200px) {
            font-size: 18px;
          }
        }
        .item__text {
          display: grid;
          margin: 20px;
          font-family: Raleway;
          font-size: 18px;
          line-height: 21px;
          justify-content: center;
          text-align: center;
          color: #000000;
          @media (max-width: 1200px) {
            font-size: 14px;
          }
        }
      }
    }
  }
  .section-price {
    background-color: #f5f5f5;
    width: 100%;
    .section-price__conteiner {
      margin: 0 auto;
      flex-direction: column;
      max-width: 1170px;
      display: flex;
      @media (max-width: 1200px) {
        max-width: 85%;
      }
      .conteiner__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 250px;
        @media (max-width: 992px) {
          height: 200px;
        }
        .text__title {
          display: flex;
          justify-content: space-around;
          align-items: center;
          font-family: Raleway;
          font-size: 36px;
          line-height: 42px;
          text-transform: uppercase;
          color: #000000;
          @media (max-width: 1200px) {
            font-size: 24px;
          }
        }
        .text__subtitle {
          font-family: Raleway;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 21px;
          color: #86878b;
          @media (max-width: 1200px) {
            font-size: 14px;
          }
        }
      }
      .conteiner__text::after {
        content: "";
        position: relative;
        width: 170px;
        height: 0px;
        border: 1px solid #ec7979;
        background-color: #ec7979;
        bottom: 140px;
        @media (max-width: 992px) {
          bottom: 110px;
        }
      }
      .conteiner__blocks {
        display: flex;
        justify-content: space-around;
        text-align: center;
        align-items: center;
        @media (max-width: 992px) {
          flex-direction: column;
        }
        .blocks__block {
          display: flex;
          align-items: center;
          flex-direction: column;
          width: 370px;
          height: 510px;
          justify-content: center;
          @media (max-width: 1200px) {
            max-width: 317px;
          }
          .block__element-start {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 370px;
            background: #333333;
            border: 2px solid #f5f5f5;
            font-family: opensans;
            font-weight: bold;
            font-size: 24px;
            line-height: 33px;
            text-transform: capitalize;
            color: #ffffff;
            @media (max-width: 1200px) {
              max-width: 317px;
            }
            @media (max-width: 576px) {
              max-width: 288px;
            }
          }
          .block__element-middle {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 370px;
            background: #333333;
            border: 2px solid #f5f5f5;
            font-family: raleway;
            font-weight: bold;
            font-size: 36px;
            line-height: 42px;
            color: #ffffff;
            height: 100px;
            @media (max-width: 1200px) {
              max-width: 317px;
            }
            @media (max-width: 576px) {
              max-width: 288px;
            }
          }
          .block__element-end {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 370px;
            height: 50px;
            background: #333333;
            border: 2px solid #f5f5f5;
            font-family: raleway;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;
            color: rgba(255, 255, 255, 0.5);
            @media (max-width: 1200px) {
              max-width: 317px;
            }
            @media (max-width: 576px) {
              max-width: 288px;
            }
          }
          .block__element {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 370px;
            height: 50px;
            background: #ffffff;
            border: 2px solid #f5f5f5;
            font-family: raleway;
            font-size: 18px;
            line-height: 21px;
            text-transform: capitalize;
            color: #86878b;
            @media (max-width: 1200px) {
              max-width: 317px;
            }
            @media (max-width: 576px) {
              max-width: 288px;
            }
          }
        }
        .blocks__block_middle {
          padding-bottom: 40px;
          filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
          @media (max-width: 992px) {
            filter: none;
            padding: 0;
          }
        }
      }
    }
  }
  .section-reviews {
    margin: 0 auto;
    height: 700px;
    display: flex;
    flex-direction: column;
    max-width: 1170px;
    .section-reviews__text {
      display: flex;
      height: 300px;
      text-align: center;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin: 0;
      .text__title {
        font-family: Raleway;
        font-size: 36px;
        line-height: 42px;
        display: flex;
        text-align: center;
        align-self: center;
        justify-content: center;
        text-transform: uppercase;
        color: #000000;
        @media (max-width: 1200px) {
          font-size: 24px;
        }
      }
      .text__subtitle {
        font-family: Raleway;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #86878b;
        @media (max-width: 1200px) {
          font-size: 14px;
        }
      }
    }
    .section-reviews__text::after {
      content: "";
      position: relative;
      width: 170px;
      height: 0px;
      border: 1px solid #ec7979;
      background-color: #ec7979;
      bottom: 140px;
    }
    .section-reviews__block {
      margin: 0 auto;
      width: 100%;
      overflow: hidden;
      @media (max-width: 1200px) {
        width: 90%;
      }
      .swiper-container {
        max-width: 100%;
        .swiper-wrapper {
          .swiper-slide {
            padding: 0 20px;
            .block__customer {
              display: block;
              overflow: hidden;
              .customer__window {
                padding: 20px;
                text-align: center;
                max-width: 300px;
                background: #e2e2e2;
                border-radius: 10px;
                font-family: Raleway;
                font-size: 18px;
                line-height: 21px;
                color: #86878b;
                @media (max-width: 1200px) {
                  font-size: 14px;
                }
              }
              .customer__window::after {
                position: relative;
                width: 30px;
                height: 20px;
                right: 120px;
                top: 43px;
                content: url(../../img/Polygon1.svg);
              }
              .customer__user-pic {
                position: relative;
                top: 67px;
                left: 19px;
              }
              .customer__about {
                display: flex;
                flex-direction: column;
                width: 220px;
                padding-left: 120px;
                margin-bottom: 20px;
                .about__name {
                  font-family: opensans;
                  font-weight: bold;
                  font-size: 24px;
                  line-height: 33px;
                  text-transform: capitalize;
                  color: #000000;
                  @media (max-width: 1200px) {
                    font-size: 18px;
                  }
                }
                .about__position {
                  padding-top: 10px;
                  font-family: Raleway;
                  font-size: 18px;
                  line-height: 21px;
                  color: #000000;
                  @media (max-width: 1200px) {
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .section-banner {
    height: 442px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../../img/imagecity.svg);
    .section-banner__conteiner {
      max-width: 1170px;
      display: flex;
      margin: 0 auto;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      .conteiner__title {
        font-family: Raleway;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 42px;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        @media (max-width: 1200px) {
          font-size: 24px;
        }
      }
      .conteiner__text {
        font-family: Raleway;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #ffffff;
        @media (max-width: 1200px) {
          font-size: 14px;
        }
        @media (max-width: 800px) {
          font-size: 14px;
          max-width: 288px;
        }
      }
      .conteiner__button {
        width: 270px;
        height: 58px;
        border: 2px solid #ffffff;
        background-color: Transparent;
        color: #ffffff;
        font-family: opensans;
      }
    }
    .section-banner__conteiner::after {
      content: "";
      position: relative;
      width: 170px;
      height: 0px;
      background-color: #ffffff;
      border: 1px solid #ffffff;
      bottom: 260px;
    }
  }
  .section-contact {
    max-width: 100%;
    height: 540px;
    @media (max-width: 992px) {
      height: 700px;
    }
    .section-contact__conteiner {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 1170px;

      .conteiner__text {
        display: flex;
        margin: 0 auto;
        width: 1170px;
        height: 200px;
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        .text__title {
          font-family: Raleway;
          font-size: 36px;
          line-height: 42px;
          display: flex;
          text-align: center;
          align-self: center;
          justify-content: center;
          text-transform: uppercase;
          color: #000000;
          @media (max-width: 1200px) {
            font-size: 24px;
          }
        }
        .text__subtitle {
          font-family: Raleway;
          font-size: 18px;
          line-height: 21px;
          display: flex;
          align-items: center;
          text-align: center;
          color: #86878b;
          @media (max-width: 1200px) {
            font-size: 14px;
          }
        }
      }
      .conteiner__text::after {
        content: "";
        position: relative;
        width: 170px;
        height: 0px;
        border: 1px solid #ec7979;
        background-color: #ec7979;
        bottom: 100px;
      }
      .conteiner__form {
        display: flex;
        height: 200px;
        width: 1170px;
        max-width: 100%;
        margin-bottom: 30px;
        justify-content: space-around;
        @media (max-width: 1200px) {
          max-width: 80%;
          justify-content: space-evenly;
        }
        @media (max-width: 992px) {
          flex-direction: column;
          max-width: 80%;
          align-items: center;
          height: 320px;
        }
        @media (max-width: 800px) {
        }
        .form__contact {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          max-width: 100%;

          .contact__input {
            width: 370px;
            font-family: opensans;
            font-size: 14px;
            line-height: 19px;
            display: flex;
            border-top: 0px;
            border-right: 0px;
            border-left: 0px;
            border-color: #bdbdbd;
            outline: none;
            @media (max-width: 992px) {
              padding-bottom: 20px;
              margin-bottom: 30px;
            }
            @media (max-width: 576px) {
              width: 255px;
            }
          }
        }
        .form__messedge {
          display: flex;
          .messedge__text {
            width: 370px;
            font-family: opensans;
            font-size: 14px;
            line-height: 19px;
            display: flex;
            border-top: 0px;
            border-right: 0px;
            border-left: 0px;
            border-color: #bdbdbd;
            outline: none;
            resize: none;
            @media (max-width: 992px) {
              height: 200px;
            }
            @media (max-width: 576px) {
              width: 255px;
            }
          }
        }
      }
      .conteiner__button {
        width: 370px;
        height: 58px;
        border: 2px solid #ffffff;

        cursor: pointer;
        font-family: opensans;
        font-size: 18px;
        line-height: 25px;
        color: #ffffff;
        background: #ec7979;
        @media (max-width: 1200px) {
          max-width: 318px;
        }
        @media (max-width: 992px) {
          margin-top: 65px;
        }
        @media (max-width: 800px) {
          max-width: 80%;
        }
      }
    }
  }
  .footer {
    max-width: 100%;
    background: #000000;
    height: 164px;
    .footer-conteiner {
      display: flex;
      margin: 0 auto;
      width: 1170px;
      max-width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      height: 100%;
      .footer-copyright {
        font-family: Raleway;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
        @media (max-width: 1200px) {
          font-size: 14px;
        }
      }
      .footer__links {
        display: flex;
        justify-content: space-around;
        width: 1170px;
        font-size: 50px;
        max-width: 100%;
        @media (max-width: 1200px) {
          font-size: 40px;
          max-width: 70%;
        }
        .fab {
          text-decoration: none;
          color: #cccccc;
          @media (max-width: 576px) {
            font-size: 20px;
          }
        }
      }
    }
  }
}
